{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{{ block.super }}
{% block content %}

    <div style="display:flex; flex:wrap; width:100%; margin: 25px;">
        <div id="example4.2" style="height: 300px; width: 100%;"></div>
    </div>

    <script type="text/javascript">
      google.charts.load("current", {packages:["timeline"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('example4.2');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
    
        dataTable.addColumn({ type: 'string', id: 'Role' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ 'Projetos 1', 'Realização de Treinamento', new Date(2022, 10, 15), new Date(2022, 12, 4) ],
          [ 'Projetos 2', 'Ensino por vídeos', new Date(2023, 2, 4), new Date(2023, 6, 4) ],
          [ 'Projetos 3', 'Criação do sistema ITF', new Date(2023, 3, 8), new Date(2023, 6, 24) ],
          [ 'Projetos 4', 'Gerenciamento de Eletricistas', new Date(2023, 4, 23), new Date(2023, 9, 16) ],
        ]);
    
        var options = {
          timeline: { groupByRowLabel: false }
        };
    
        chart.draw(dataTable, options);
      }
    </script>
    

{{ block.super }}
{% endblock %}